integration/src/main/app/integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <data-mapper:config name="XML_To_Pojo" transformationGraphPath="xml_to_pojo.grf" doc:name="XML_To_Pojo"/>
    <data-mapper:config name="Pojo_To_XML" transformationGraphPath="pojo_to_xml.grf" doc:name="Pojo_To_XML"/>
    <flow name="File-CreateOrder" doc:name="File-CreateOrder" initialState="started">
        <file:inbound-endpoint path="./_inputs" moveToDirectory="./_data" responseTimeout="10000" doc:name="_inputs/*.xml">
            <file:filename-regex-filter pattern=".*\.xml$" caseSensitive="true"/>
        </file:inbound-endpoint>
        <data-mapper:transform config-ref="XML_To_Pojo" doc:name="XML To Pojo"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/misterdiscount/createorder" doc:name="/misterdiscount/createorder"/>
        <data-mapper:transform config-ref="Pojo_To_XML" doc:name="Pojo To XML"/>
        <file:outbound-endpoint path="./_outputs" outputPattern="results.xml" responseTimeout="10000" doc:name="_outputs/results.xml"/>
    </flow>
    <flow name="MisterDiscount_WS" doc:name="MisterDiscount_WS">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="MisterDiscount" doc:name="http://localhost:8081/MisterDiscount"/>
        <cxf:jaxws-service serviceClass="fr.polytech.unice.soa1.mister.discount.services.IMisterDiscount" doc:name="MisterDiscount"/>
        <set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="operation?"/>
        <choice doc:name="Choice">
            <when expression="#[operation == &quot;createOrder&quot;]">
                <logger message="Create Order operation" level="INFO" doc:name="createOrder"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="/misterdiscount/createorder" doc:name="/misterdiscount/createorder"/>
            </when>
            <when expression="#[operation == &quot;consultingOrder&quot;]">
                <logger message="consultingOrder operation" level="INFO" doc:name="consultingOrder"/>
                <vm:outbound-endpoint exchange-pattern="request-response" path="/orderId/consultdb" doc:name="/orderId/consultdb"/>
            </when>
            <otherwise>
                <logger message="Unknown operation" level="INFO" doc:name="Unknown operation"/>
            </otherwise>
        </choice>
    </flow>


</mule>
