integration/src/main/app/scenario1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <ws:consumer-config name="TeamForce-WS-Customer" wsdlLocation="http://localhost:8080/webservices/TeamForce-Customer-RPC?wsdl" service="TeamForceRPCCustomerService" port="TeamForceRPCCustomerPort" serviceAddress="http://localhost:8080/webservices/TeamForce-Customer-RPC" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="TeamForce-WS-Employee" wsdlLocation="http://localhost:8080/webservices/TeamForce-Employee-RPC?wsdl" service="TeamForceRPCEmployeeService" port="TeamForceRPCEmployeePort" serviceAddress="http://localhost:8080/webservices/TeamForce-Employee-RPC" doc:name="Web Service Consumer"/>

    <ws:consumer-config name="WareHouse-WS-ExternalDoc" wsdlLocation="http://localhost:8080/webservices/WarehouseExternalDOC?wsdl" service="WarehouseExternalService" port="WarehouseExternalPort" serviceAddress="http://localhost:8080/webservices/WarehouseExternalDOC" doc:name="Web Service Consumer"/>
    <data-mapper:config name="Pojo_To_Xml_execute_" transformationGraphPath="pojo_to_xml_execute_.grf" doc:name="Pojo_To_Xml_execute_"/>
    <ws:consumer-config name="FedPs-WS-CustomerPrivate" wsdlLocation="http://localhost:8080/webservices/FedPSCustomerPrivate?wsdl" service="FedPSCustomerPrivateService" port="FedPSCustomerPrivatePort" serviceAddress="http://localhost:8080/webservices/FedPSCustomerPrivate" doc:name="Web Service Consumer"/>
    <data-mapper:config name="Xml_create_quoteResponse__To_Pojo" transformationGraphPath="xml_create_quoteresponse__to_pojo.grf" doc:name="Xml_create_quoteResponse__To_Pojo"/>
    <ws:consumer-config name="Payment-WS-PublicRetailer" wsdlLocation="http://localhost:8080/webservices/Payment-Public-RPC?wsdl" service="PaymentRPCPublicService" port="PaymentRPCPublicPort" serviceAddress="http://localhost:8080/webservices/Payment-Public-RPC" doc:name="Web Service Consumer"/>
    <data-mapper:config name="Xml_create_orderResponse__To_Pojo" transformationGraphPath="xml_create_orderresponse__to_pojo.grf" doc:name="Xml_create_orderResponse__To_Pojo"/>
    <data-mapper:config name="Pojo_To_Xml_create_order_" transformationGraphPath="pojo_to_xml_create_order_.grf" doc:name="Pojo_To_Xml_create_order_"/>
    <data-mapper:config name="Pojo_To_Xml_create_quote_" transformationGraphPath="pojo_to_xml_create_quote_.grf" doc:name="Pojo_To_Xml_create_quote_"/>


    <data-mapper:config name="Pojo_To_Xml_process_payment_" transformationGraphPath="pojo_to_xml_process_payment_.grf" doc:name="Pojo_To_Xml_process_payment_"/>
    <data-mapper:config name="Xml_process_paymentResponse__To_Pojo" transformationGraphPath="xml_process_paymentresponse__to_pojo.grf" doc:name="Xml_process_paymentResponse__To_Pojo"/>
    <flow name="CreateOrder" doc:name="CreateOrder">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/misterdiscount/createorder" doc:name="/misterdiscount/createorder"/>
        <flow-ref name="SF-TeamForce-CreateOrder" doc:name="TeamForce-CreateOrder"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/misterdiscount/wh/pickproduct" doc:name="/misterdiscount/wh/pickproduct"/>
        <flow-ref name="SF-FP-CreateQuote" doc:name="FedPs-CreateQuote"/>
        <flow-ref name="SF-Payment-processPayment" doc:name="Payment-ProcessPayment"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/orderId/storeindb" doc:name="/orderId/storeindb"/>
        <scripting:component doc:name="create receipt">
            <scripting:script engine="Groovy"><![CDATA[import fr.polytech.unice.soa1.mister.discount.business.InternalOrder
import fr.polytech.unice.soa1.mister.discount.business.CreateOrderOutput

import java.lang.*

def order = message.payload;
def output = new CreateOrderOutput(order.getOrderId(), order.getAmount(), order.getEta(), order.getPaymentStatus());
output.setProducts(order.getProducts());

message.payload=output;]]></scripting:script>
        </scripting:component>
    </flow>

    <sub-flow name="SF-TeamForce-CreateOrder" doc:name="SF-TeamForce-CreateOrder">
        <logger message="TeamForce - Logger" level="INFO" doc:name="TeamForce - Logger"/>
        <set-variable variableName="createOrderInput" value="#[message.payload]" doc:name="store createOrderInput"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/misterdiscount/tf/createOrder" doc:name="/misterdiscount/tf/createOrder"/>
        <scripting:component doc:name="merge result with createOrderInput">
            <scripting:script engine="Groovy"><![CDATA[import fr.polytech.unice.soa1.mister.discount.business.InternalOrder
import fr.polytech.unice.soa1.mister.discount.business.CreateOrderInput

import java.lang.*

def orderTeamForce = message.payload;
def orderInput = message.getInvocationProperty("createOrderInput");

orderTeamForce.setCountryId(orderInput.getCountryId());
orderTeamForce.setCityName(orderInput.getCityName());
orderTeamForce.setStreetName(orderInput.getStreetName());
orderTeamForce.setZipCode(orderInput.getZipCode());
orderTeamForce.setCardNumber(orderInput.getCardNumber());

message.payload=orderTeamForce;]]></scripting:script>
        </scripting:component>
    </sub-flow>
    <sub-flow name="SF-FP-CreateQuote" doc:name="SF-FP-CreateQuote">
        <logger message="FedPs - Logger" level="INFO" doc:name="FedPs - Logger"/>
        <set-variable variableName="orderTeamForce" value="#[message.payload]" doc:name="store orderTeamForce"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/misterdiscount/fp/createquote" doc:name="/misterdiscount/fp/createquote"/>
        <scripting:component doc:name="merge result with orderTeamForce">
            <scripting:script engine="Groovy"><![CDATA[import fr.polytech.unice.soa1.mister.discount.business.InternalOrder
import fr.polytech.unice.soa1.mister.discount.business.CreateOrderInput

import java.lang.*

def quote = message.payload;
def order = message.getInvocationProperty("orderTeamForce");

order.setAmount(String.valueOf(Double.valueOf(order.getAmount()) + Double.valueOf(quote.getAmount())));
order.setQuoteId(quote.getQuoteId());
order.setEta(quote.getEta());

message.payload=order;]]></scripting:script>
        </scripting:component>
    </sub-flow>
    <sub-flow name="SF-Payment-processPayment" doc:name="SF-Payment-processPayment">
        <logger message="Payment - Logger" level="INFO" doc:name="Payment - Logger"/>
        <set-variable variableName="orderFedPs" value="#[message.payload]" doc:name="store orderFedPs"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="/misterdiscount/payment/process" doc:name="/misterdiscount/payment/process"/>
        <scripting:component doc:name="merge result with orderFedPs">
            <scripting:script engine="Groovy"><![CDATA[import fr.polytech.unice.soa1.mister.discount.business.InternalOrder
import fr.polytech.unice.soa1.mister.discount.business.CreateOrderInput

import java.lang.*

def paymentStatus = message.payload;
def orderFedPs = message.getInvocationProperty("orderFedPs");

orderFedPs.setPaymentStatus(paymentStatus);

message.payload=orderFedPs;]]></scripting:script>
        </scripting:component>
    </sub-flow>
    <flow name="VM-TeamForce-CreateOrder" doc:name="VM-TeamForce-CreateOrder">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/misterdiscount/tf/createOrder" doc:name="/misterdiscount/tf/createOrder"/>
        <data-mapper:transform config-ref="Pojo_To_Xml_create_order_" doc:name="Pojo To Xml&lt;create_order&gt;"/>
        <ws:consumer config-ref="TeamForce-WS-Customer" operation="create_order" doc:name="TeamForce::createOrder"/>
        <data-mapper:transform config-ref="Xml_create_orderResponse__To_Pojo" doc:name="Xml&lt;create_orderResponse&gt; To Pojo"/>
    </flow>
    <flow name="VM-WH-PickListOfProduct" doc:name="VM-WH-PickListOfProduct">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/misterdiscount/wh/picklistofproduct" doc:name="/misterdiscount/wh/picklistofproduct"/>
        <set-payload value="#[payload.products]" doc:name="Set Payload"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/misterdiscount/wh/pickproduct" doc:name="/misterdiscount/wh/pickproduct"/>

    </flow>
    <flow name="VM-WH-PickProduct" doc:name="VM-WH-PickProduct">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/misterdiscount/wh/pickproduct" doc:name="/misterdiscount/wh/pickproduct"/>
        <data-mapper:transform config-ref="Pojo_To_Xml_execute_" doc:name="Pojo To Xml&lt;execute&gt;">
            <data-mapper:input-arguments/>
        </data-mapper:transform>
        <ws:consumer config-ref="WareHouse-WS-ExternalDoc" operation="execute" doc:name="Web Service Consumer"/>
    </flow>
    <flow name="VM-FP-CreateQuote" doc:name="VM-FP-CreateQuote">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/misterdiscount/fp/createquote" doc:name="/misterdiscount/fp/createquote"/>
        <data-mapper:transform config-ref="Pojo_To_Xml_create_quote_" doc:name="Pojo To Xml&lt;create_quote&gt;"/>
        <ws:consumer config-ref="FedPs-WS-CustomerPrivate" operation="create_quote" doc:name="Web Service Consumer"/>
        <data-mapper:transform config-ref="Xml_create_quoteResponse__To_Pojo" doc:name="Xml&lt;create_quoteResponse&gt; To Pojo"/>
    </flow>
    <flow name="VM-Payment-ProcessPayment" doc:name="VM-Payment-ProcessPayment">
        <vm:inbound-endpoint exchange-pattern="request-response" path="/misterdiscount/payment/process" doc:name="/misterdiscount/payment/process"/>
        <data-mapper:transform config-ref="Pojo_To_Xml_process_payment_" doc:name="Pojo To Xml&lt;process_payment&gt;"/>
        <ws:consumer config-ref="Payment-WS-PublicRetailer" operation="process_payment" doc:name="Web Service Consumer"/>
        <data-mapper:transform config-ref="Xml_process_paymentResponse__To_Pojo" doc:name="Xml&lt;process_paymentResponse&gt; To Pojo"/>
    </flow>

</mule>
